---
layout: empty
title: About the Pixelattos
description: Learn more about these legendary creatures!
keywords: pixelatto, pixelatto team, about pixelatto, javi cepa

hide_hero: true
permalink: /about/
---

<section class="hero-section">
    <div class="bg-img">
        <img src="/img/home/hero-background.svg" alt="Pixelatto background image" />
    </div>
    <div class="hero-inner">
        <h1 class="hero-title has-text-weight-bold">About the Pixelattos</h1>
    </div>
</section>

<div class="about-content">
    <section class="about-section">
        <div class="container--sm">
            <div class="pixel-box content has-text-justified">
                <h2 class="section-title">Learn more about these legendary creatures!</h2>
                <p>Most people think that the first Pixelatto dated early 2019 or so, since they're mostly know for
                    Reventure, but the fact is that there's fossil evidence of living specimens back at 2014.</p>
                <p>Contract work is not as popular as making own videogames, but for these organisms it somehow enabled
                    their survival and adaptation to the environment.</p>
                <p>Most races of game developer die out of starvation in the first years, these pixele-y creatures managed
                    to evolve and learn through
                    the mystic arts of extremely-low-budgets and extremely-hard-work to become the creatures we know and
                    love today.
                </p>
                <p>Most individuals are 6 pixels high and extremely skillful at making videogames, but the type of skill
                    varies widely.</p>
                <p>The Pixelattopedia is a compilation of all currently known subjects.</p>
            </div>
        </div>
    </section>

    <section class="section team-section">
        <div class="container--sm">
            <h2 class="section-title">Pixelattopedia</h2>
            <h3 class="inner-title is-uppercase has-text-weight-bold mb-5" style="border: none;">Known individuals</h3>
            {% include pixelattopedia.html %}
        </div>
    </section>

    <section class="section history-section">
        {% include history-container.html %}
    </section>

    {% include contact-section.html %}
</div>

{% include redesign/subscribe-form.html class="pt-0" %}
