---
layout: empty
title: About
hide_hero: true
permalink: /about/
---

<body>
    <section class="section">
        <div class="container content has-text-justified">
            <h1 class="title is-3">About the Pixelattos</h1>
            <h2 class="subtitle is-5 ">Learn more about these legendary creatures!</h2>
            <p>Most people think that the first Pixelatto dated early 2019 or so, since they're mostly know for
                Reventure, but the fact is that there's fossil evidence of living specimens back at 2014.</p>
            <p>Contract work is not as popular as making own videogames, but for these organisms it somehow enabled
                their survival and adaptation to the environment.</p>
            <p>Most races of game developer die out of starvation in the first years, these pixele-y creatures managed
                to evolve and learn through
                the mystic arts of extremely-low-budgets and extremely-hard-work to become the creatures we know and
                love today.
            </p>
            <p>Most individuals are 6 pixels high and extremely skillful at making videogames, but the type of skill
                varies widely.</p>
            <p>The Pixelattopedia is a compilation of all currently known subjects.</p>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <h1 class="title is-3">Pixelattopedia</h1>
            <h2 class="subtitle is-5 mb-6">Known individuals</h2>
            {% include pixelattopedia.html %}
        </div>
    </section>
    <section class="section">
        {% include history-container.html %}
    </section>
    <section class="section">
        <div class="container">
            <h1 class="title is-3">Contact</h1>
            <h2 class="subtitle is-5 mb-6">Do not be shy and send us an email if you need something!</h2>




            <div class="contact-form is-full">
                <form method="post" name="contact-form" action="{{ site.data.contact.form_action }}" id="contact-form"
                    data-netlify="true">

                    <div class="field">
                        <label class="label">Email Address *</label>
                        <div class="control">
                            <input class="input" type="email" name="email" placeholder="your-email@what.ever" required>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Name *</label>
                        <div class="control">
                            <input class="input" type="text" name="name" placeholder="Your name..." required>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Message *</label>
                        <div class="control">
                            <textarea class="input" name="message" placeholder="Your message..." required></textarea>
                        </div>
                    </div>

                    <input type="hidden" name="_next" value="{{ site.data.contact.confirmation_url }}" />
                    <input type="hidden" name="_subject" value="{{ site.data.contact.email_subject }}" />
                    <input type="text" name="_gotcha" style="display: none;" val="">

                    <div class="field">
                        <div class="control">
                            <input class="input" type="submit" value="{{ site.data.contact.send_button_text }}">
                        </div>
                    </div>
                </form>
            </div>







        </div>
    </section>
</body>