---
layout: empty
title: Presskit
hide_hero: true
permalink: /presskit/
short_version: true


---

{% assign products = site.data.products %}
{% assign presskit = site.data.presskit %}

<section class="section">
    <div class="container">
        <h1 class="title is-3">Pixelatto presskit</h1>
        <div class="columns is-multiline">
            <div class="column is-6">
                <h2 class="subtitle is-5 has-text-weight-bold">Factsheet</h2>
                {% for entry in presskit.factsheet %}
                <p class="ml-5">{{ entry.text }}</p>
                {% endfor %}
            </div>
            <div class="column is-6">
                <h2 class="subtitle is-5 has-text-weight-bold">Download Press Resources</h2>
                <div class="columns is-multiline">
                    <div class="column is-3 has-text-centered">
                        <button class="button" onclick="window.open('/download/pixelatto-presskit.zip')">
                            <span class="icon">
                                <i class="fas fa-cloud-download-alt"></i>
                            </span>
                            <span>Pixelatto</span>
                        </button>
                    </div>
                    {% for product_hash in products %}
                    {% assign product = product_hash[1] %}
                    <div class="column is-3 has-text-centered">
                        <button class="button {% if product.type == 'game' %}is-secondary{% else %}is-primary{% endif %}" onclick="window.open('/download/{{ product.code }}-presskit.zip')">
                            <span class="icon">
                                <i class="fas fa-cloud-download-alt"></i>
                            </span>
                            <span>{{ product.name }}</span>
                        </button>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <h2 class="subtitle has-text-weight-bold">Products presskit</h2>
        <div class="columns is-multiline is-desktop"
            style="display: flex; flex-direction: row; align-items: stretch; align-content: stretch;">
            {% for product_hash in products %}
            {% assign product = product_hash[1] %}
            <div class="column is-full-mobile is-half is-half-desktop">
                <a href="{{ page.url }}{{ product.code }}">
                    <div class="card" style="height: 100%;">
                        <div class="card-image">
                            <figure class="image is-16by9">
                                <img src="/img/product/{{ product.code }}-logo.svg" alt="{{ product.title }}" style="margin: auto; padding: 1.5rem;">
                            </figure>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    <br>
    <br>
    <div class="container">
        <h2 class="subtitle has-text-weight-bold">Logos & icons</h2>
        <span>Download all the resources <a onclick="window.open('/download/pixelatto-presskit.zip', 'Download');" target="_blank">here</a></span>
        <div class="column is-12">
            <!-- Start Carousel -->
            <div id="presskit-carousel" class="carousel">
                {% assign cont = 1 %}
                {% for image in presskit.gallery.images %}
                    <div class="item-{{ cont }}">
                        <img src="{{ presskit.gallery.imagefolder }}{{ image.name }}" onclick="openModal('pixelatto-presskit-modal');currentSlide({{ cont }})" style="max-height:  100px;">
                    </div>
                    {% assign cont = cont | plus:1 %}
                {% endfor %}
            </div>
            <!-- End Carousel -->
        </div>

        <div class="column is-12">
            <!-- Start lightbox modal -->
            <div class="modal" id="pixelatto-presskit-modal" onclick="ClickOpenedModal(event)">
                <div class="modal-content is-vcentered">
                    {% for image in presskit.gallery.images %}
                        <div class="item-slide pixelatto-presskit-modal-slide">
                            <img src="{{ presskit.gallery.imagefolder }}{{ image.name }}">
                        </div>
                    {% endfor %}
                </div>
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
                <button onclick="closeModal()" class="modal-close is-large" aria-label="close"></button>
            </div>
            <!-- End lightbox modal -->
        </div>
    </div>
</section>
<section class="section">
    {% include history-container.html %}
</section>
<section class="section">
    <div class="container">
        <h1 class="title is-3">Team</h1>
        {% include pixelattopedia.html %}
    </div>
</section>
