---
layout: empty

title: Pixelatto presskit | Information and media resources
description: Press and media information and resources about Pixelatto
keywords: pixelatto presskit, pixelatto information, pixelatto press, pixelatto media, pixelatto resources

hide_hero: true
permalink: /presskit/
short_version: true
---

{% assign products = site.data.products %}
{% assign presskit = site.data.presskit %}

<section class="hero-section">
    <div class="bg-img">
        <img src="/img/home/hero-background.svg" alt="Pixelatto background image" />
    </div>
    <div class="hero-inner">
        <h1 class="hero-title has-text-weight-bold">Pixelatto presskit</h1>
    </div>
</section>

<div class="presskit-content">
    <section class="presskit">
        <div class="container--sm">
            <div class="factsheet-wrapper">
                <div class="columns is-multiline">
                    <div class="column is-5">
                        <div class="factsheet-resources pixel-box" style="height: 100%;">
                            <h2 class="section-title">Factsheet</h2>
                            {% for entry in presskit.factsheet %}
                            <p>
                                <span class="icon has-text-secondary"><i class="fas {{ entry.icon }}"></i></span>
                                <span>{{ entry.text }}</span>
                            </p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="column is-7">
                        <div class="press-resources pixel-box" style="height: 100%;">
                            <h2 class="section-title">Download Press Resources</h2>
                            <div class="columns is-multiline is-gapless">
                                <div class="column is-full" >
                                    <p>Pixelatto</p>
                                    <button class="button button-round is-secondary" onclick="window.open('/download/pixelatto-presskit.zip')">
                                        <span class="icon">
                                            <i class="fas fa-cloud-download-alt"></i>
                                        </span>
                                        <span>Download</span>
                                    </button>
                                </div>
                                {% for product_hash in products reversed %}
                                {% assign product = product_hash[1] %}
                                <div class="column is-full">
                                    <p>{{ product.name }}</p>
                                    <button class="button button-round is-secondary" onclick="window.open('/download/{{ product.code }}-presskit.zip')">
                                        <span class="icon">
                                            <i class="fas fa-cloud-download-alt"></i>
                                        </span>
                                        <span>Download</span>
                                    </button>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="container--sm">
            <div class="presskit-resources">
                <h2 class="section-title">Products presskit</h2>
                <div class="columns is-multiline is-desktop"
                    style="display: flex; flex-direction: row; align-items: stretch; align-content: stretch;">
                    {% for product_hash in products reversed %}
                    {% assign product = product_hash[1] %}
                    <div class="column is-full-mobile is-half is-half-desktop">
                        <div class="product-card pixel-box is-relative" style="height: 100%;">
                            <div class="card-inner">
                                <div class="columns is-multiline is-desktop">
                                    <div class="column">
                                        <img class="product-logo" src="/img/product/{{product.code}}-logo.svg" alt="{{ product.title }}" style="height: 75px;" />
                                    </div>
                                    <div class="column">
                                        <a class="button button-round button-special is-secondary is-hidden-touch is-inline-flex-desktop" href="{{ page.url }}{{ product.code }}">Read presskit</a>
                                        <a class="read-link is-uppercase has-text-weight-bold is-hidden-desktop is-inline-block-touch" href="{{ page.url }}{{ product.code }}">Read presskit</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="container--sm">
            <div class="brand-resources">
                <div class="section-header resources-header">
                    <h2 class="section-title mb-0">Brand Resources</h2>
                    <a class="show-link is-uppercase has-text-weight-bold" onclick="window.open('/download/pixelatto-presskit.zip', 'Download');"
                        target="_blank"><span class="icon"><i class="fas fa-cloud-download-alt"></i></span>Download all brand resources</a>
                </div>

                <div class="columns is-multiline is-centered gallery">
                    {% assign cont = 1 %}
                    {% for image in presskit.gallery.images %}
                    <div class="column is-one-quarter-desktop is-half-tablet">
                        <div class="brand-item pixel-box">
                            <div class="card-image">
                                <figure class="image is-3by2">
                                    <img src="{{ presskit.gallery.imagefolder }}{{ image.name }}" alt="{{ image.text }}"
                                        onclick="openModal('pixelatto-presskit-modal');currentSlide({{ cont }})" />
                                </figure>
                            </div>
                        </div>
                    </div>
                    {% assign cont = cont | plus:1 %}
                    {% endfor %}
                </div>

                <div class="column is-12" style="padding: 0;">
                    <!-- Start lightbox modal -->
                    <div class="modal" id="pixelatto-presskit-modal" onclick="ClickOpenedModal(event)">
                        <div class="modal-content is-vcentered">
                            {% for image in presskit.gallery.images %}
                            <div class="item-slide pixelatto-presskit-modal-slide">
                                <img src="{{ presskit.gallery.imagefolder }}{{ image.name }}">
                            </div>
                            {% endfor %}
                        </div>
                        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                        <a class="next" onclick="plusSlides(1)">&#10095;</a>
                        <button onclick="closeModal()" class="modal-close is-large" aria-label="close"></button>
                    </div>
                    <!-- End lightbox modal -->
                </div>
            </div>
        </div>
    </section>

    <section class="section history-section">
        {% include history-container.html %}
    </section>

    <section class="section team-section">
        <div class="container--sm">
            <h2 class="section-title">Team</h2>
            {% include pixelattopedia.html %}
        </div>
    </section>
</div>

{% include redesign/subscribe-form.html class="pt-0" %}
