---
layout: empty
title: Welcome to Pixelatto store!
description: Amazing games and gamedev tools, take a look!
pixelatto: pixelatto store, buy reventure, buy card creator, pixelatto products, pixelatto discounts, buy videogames, buy tabletop games, buy gamedev tools

permalink: /store/
---

<section class="hero-section">
    <div class="bg-img">
        <img src="/img/home/hero-background.svg" alt="Pixelatto background image" />
    </div>
    <div class="hero-inner">
        <h1 class="hero-title has-text-weight-bold pb-0">Games and tools</h1>
    </div>
</section>

<section class="store-section">
    <div class="container--sm">
        {% assign products = site.data.products | sort  %}
        {%- for product_hash in products reversed -%}
        {% assign product = product_hash[1] %}
            {% include product-card.html %}
        {%- endfor -%}
    </div>
</section>

{% include redesign/subscribe-form.html %}

<!--add modified script from product.html-->
