---
layout: empty
title: Welcome to Pixelatto store!
description: Amazing games and gamedev tools, take a look!
pixelatto: pixelatto store, buy reventure, buy card creator, pixelatto products, pixelatto discounts, buy videogames, buy tabletop games, buy gamedev tools

permalink: /store/
---

<section class="hero-section">
    <div class="bg-img">
        <img src="/img/home/hero-background.svg" alt="Pixelatto background image" />
    </div>
    <div class="hero-inner">
        <h1 class="hero-title has-text-weight-bold pb-0">Games and tools</h1>
    </div>
</section>

<section class="store-section">
    <div class="container--sm">
        {% assign products = site.data.products | sort  %}
        {%- for product_hash in products reversed -%}
        {% assign product = product_hash[1] %}
            {% include product-card.html %}
        {%- endfor -%}
    </div>
</section>

{% include redesign/subscribe-form.html %}

<!--add modified script from product.html-->
{% contentfor extra-js no-convert %}
        {% assign my_array = "" | split: "," %}

        {%- for product_hash in products reversed -%}
            {% assign product = product_hash[1] %}
            {% assign prod_id = product.sendowl_id %}

            {% assign prod_order = product.order %}
            {% assign counter = forloop.length %}
            {% assign counter2 = forloop.index %}

            <script>
                {%- if counter2 == 1 -%}
                    var priceHTML = document.getElementById("price-1");
                    var buyButtonHTML = document.getElementById("buy-button-1");
                    getSendOwlProduct(78384823).then((data) => {
                        priceHTML.textContent = "only for " + data.product.price + " €";
                        buyButtonHTML.href = data.product.instant_buy_url;
                    });
                    {%- else -%} //try with else
                    var priceHTML2 = document.getElementById("price-2");
                    var buyButtonHTML2 = document.getElementById("buy-button-2");
                    getSendOwlProduct(78274278).then((data) => {
                        priceHTML2.textContent = "only for " + data.product.price + " €";
                        buyButtonHTML2.href = data.product.instant_buy_url;
                    });
                {%- endif -%}
            </script>
        {%- endfor -%}
    <!-- <script>
        // var priceHTML = document.getElementById("price-2");
        // getSendOwlProduct(78274278).then((data) => {
        //     priceHTML.textContent = "only for " + data.product.price + " €";
        //     // for (var i = 0; i < priceHTML.length; i++) {

        //     // }
        //     //priceHTML.textContent = "only for " + data.product.price + " €";
        //     //buyButtonHTML.href = data.product.instant_buy_url;
        // });
    </script> -->
{% endcontentfor %}
