<div class="awards">
    <div class="columns is-multiline is-centered">
        {%- for award in product.awards.list -%}
        <div class="column is-4">
            <div class="award-item pixel-box">
                <div class="award-header is-flex">
                    <img style="max-width: 80px; max-height: 80px;" src="{{ award.icon[0] }}" alt="{{ award.icon[1] }}" />
                    <h3 class="ml-3">{{ award.title }}</h3>
                </div>
                <div class="award-text pt-4">
                    <p>{{ award.text }}</p>
                </div>
            </div>
        </div>
        {%- endfor -%}
    </div>
</div>
