<div class="subscribe-section">
    <div class="container--sm">
        <div class="subscribe-inner pixel-box columns is-gapless is-desktop">
            <div class="column">
                <div class="subscribe-text">
                    <h2 class="has-text-primary has-text-weight-bold is-uppercase">{{site.data.subscribe.main_message}}</h2>
                    <p class="has-text-weight-bold">{{site.data.subscribe.last_message}}</p>
                </div>
            </div>
            <div class="column">
                <div class="subscribe-form">
                    <form id="subscribe-form" action="{{site.data.subscribe.subscribe_action}}" method="post" name="mc-embedded-subscribe-form" target="_blank">
                        <div class="is-flex">
                            <div class="input-wrapper">
                                <p style="display: none;">Newsletter email</p>
                                <input class="input contact-form__input" type="email" placeholder="Your email address"
                                    value="" id="suscribe-email-input" name="EMAIL" required />
                            </div>
                            <input class="button button-round is-secondary" type="submit"
                                name="subscribe" value="{{ site.data.subscribe.button_subscribe_text }}"
                                onclick="submitAndRedirectToThanks();" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
