<div class="testimonials-list is-hidden-touch is-block-desktop">
    {% assign tweetsList = item.testimonials.list %}
    {% assign tweetsListSize = tweetsList.size %}
    {% assign tweetsPerRow = 3 %}
    {% assign totalRows = tweetsListSize | divided_by: tweetsPerRow %}
    {% assign rowsCheck = tweetsListSize | modulo: tweetsPerRow %}

    {% if rowsCheck > 0 %}
        {% assign totalRows = totalRows | plus: 1 %}
    {% endif %}

    {% assign endIndex = totalRows | minus: 1 %}

    {% for rowNum in (0..endIndex) %}
        {% assign offset = rowNum | times: tweetsPerRow %}
        <div class="tile is-ancestor{% if offset >= 6 %} tile-hidden{% endif %}">
            {% for tweet in tweetsList limit: tweetsPerRow offset: offset %}
                <div class="tile is-parent is-4">
                    <article class="tile is-child box">
                        {% include testimonial-card.html %}
                    </article>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
    {% if tweetsListSize > 6 %}
        <div class="toggle-wrapper">
            <span class="toggle-button show-link is-uppercase has-text-weight-bold has-text-centered mt-6">Show More</span>
            <img class="toggle-arrow" src="/img/home/arrow-down.svg" alt="Arrow down icon" />
        </div>
    {% endif %}
</div>
