{% assign contact_data = site.data.contact %}

<section class="section contact-section is-relative">
    <div class="bg-img">
        <img src="{{ contact_data.form_background }}" alt="Pixelatto background image" />
    </div>
    <div class="container--sm">
        <div class="contact-inner pixel-box">
            <h3 class="title is-3 has-text-white has-text-centered mb-5">{{ contact_data.title }}</h3>
            <h5 class="is-size-5 is-size-6-touch has-text-white has-text-centered mb-5">{{ contact_data.subtitle }}</h5>
            {% include contact-form.html %}
        </div>
    </div>
</section>
