<div class="columns is-multiline is-mobile is-gapless is-vcentered mb-0">
    <div class="column is-full-mobile is-one-third-tablet">
        <h3 class="is-uppercase has-text-weight-bold">Get it also at:</h3>
    </div>
    {% for store in product.external_stores %}
    <div class="column control">
        <button alt="{{ product.name}} {{store.image}} buy button" class="button store-button is-primary"
                onclick="window.open('{{ store.link }}', '_blank');">
            <span class="icon">
                <img alt="{{store.image}} icon" class="has-text-secondary" src="/img/platforms/{{ store.image }}.png" style="margin: 0;">
            </span>
        </button>
    </div>
    {% endfor %}
  </div>
