<script src="{{ site.baseurl }}/assets/js/app.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.4/dist/js/bulma-carousel.min.js"></script>
<script async src="{{ site.baseurl }}/js/bulma-gallery-lightbox.js" type="text/javascript"></script>
<script async src="{{ site.baseurl }}/js/main.js" type="text/javascript"></script>

{% if page.has_carousel %}
<script src="/js/siema.js"></script>
<!--Lightweight carousel-->
<script>
    const mySiema = new Siema({
        selector: '.siema',
        duration: 200,
        easing: 'ease-out',
        perPage: 1,
        startIndex: 0,
        draggable: true,
        multipleDrag: true,
        threshold: 20,
        loop: true,
        rtl: false,
        onInit: () => {},
        onChange: () => {},
    });
    document.querySelector('.siema-prev').addEventListener('click', () => mySiema.prev());
    document.querySelector('.siema-next').addEventListener('click', () => mySiema.next());
</script>
{% endif %}