<svg id="fader"></svg>
<script>
    fadeInPage();

    function fadeInPage() {
        if (!window.AnimationEvent) {
            return;
        }
        var fader = document.getElementById('fader');
        fader.classList.add('fade-out');
    }
    document.addEventListener('DOMContentLoaded', function () {
        if (!window.AnimationEvent) {
            return;
        }
        var anchors = document.getElementsByTagName('a');
        for (var idx = 0; idx < anchors.length; idx += 1) {
            if (anchors[idx].hostname !== window.location.hostname ||
                anchors[idx].pathname === window.location.pathname) {
                continue;
            }
            anchors[idx].addEventListener('click', function (event) {
                var fader = document.getElementById('fader'),
                    anchor = event.currentTarget;

                var listener = function () {
                    window.location = anchor.href;
                    fader.removeEventListener('animationend', listener);
                };
                fader.addEventListener('animationend', listener);

                event.preventDefault();
                fader.classList.add('fade-in');
            });
        }
    });
    window.addEventListener('pageshow', function (event) {
        if (!event.persisted) {
            return;
        }
        var fader = document.getElementById('fader');
        fader.removeAttribute('class', 'fade-in');
        fader.setAttribute('class', 'fade-out');
    });
</script>
{% if page.type == "game" or page.type == "app" %}
<style>
    #logo-sec,
    #logo-main {
        fill: white !important;
    }
</style>
{% endif %}

<nav class="navbar is-fixed-top
{% if page.type == "game" %}
    is-secondary
{% elsif page.type == "app" %}
    is-primary
{% else %}
    is-white
{% endif %}
" style="box-shadow: rgb(119, 120, 122) 0 0 5px 0;">
    <div class="container">
        <div class="navbar-brand">
            <a href="{{ site.baseurl }}/" class="navbar-item">
                <svg id="logo" version="1.1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 2214.9 422.8"
                    style="enable-background:new 0 0 2214.9 422.8; width: 150px;" xml:space="preserve">
                    <path id="logo-sec" style="fill:#E37826; transition: fill 0.35s;"
                        d="M368.3,145.2h-33.4v-33.4c0-18.4,15-33.4,33.4-33.4s33.4,15,33.4,33.4S386.7,145.2,368.3,145.2z" />
                    <path id="logo-main" style="fill:#009FC7; transition: fill 0.35s;" d="M975,341.2h-99.8C801.8,341.2,742,281.4,742,208S801.8,74.8,875.2,74.8c38.9,0,75.7,16.9,101.1,46.5
	c11.4,13.3,10.6,33.2-1.8,45.5l-65.6,65c-13.1,13-34.3,12.9-47.2-0.2c-13-13.1-12.9-34.3,0.2-47.2l38.2-37.8
	c-7.8-3.1-16.2-4.8-24.8-4.8c-36.6,0-66.4,29.8-66.4,66.4s29.8,66.4,66.4,66.4H975c18.5,0,33.4,15,33.4,33.4S993.4,341.2,975,341.2z
	 M51.8,411.4c-18.5,0-33.4-15-33.4-33.4V211.6c0-73.4,59.7-133.2,133.2-133.2s133.2,59.7,133.2,133.2S225,344.8,151.6,344.8H85.2
	V378C85.2,396.4,70.3,411.4,51.8,411.4z M85.2,278h66.4c36.6,0,66.4-29.8,66.4-66.4s-29.8-66.4-66.4-66.4S85.2,175,85.2,211.6V278
	L85.2,278z M368.3,344.8c-18.5,0-33.4-15-33.4-33.4v-107c0-18.5,15-33.4,33.4-33.4s33.4,15,33.4,33.4v107
	C401.7,329.8,386.7,344.8,368.3,344.8z M632,211.6l76.2-76.2c13-13,13-34.2,0-47.2s-34.2-13-47.2,0l-76.2,76.2l-76.1-76.1
	c-13-13-34.2-13-47.2,0s-13,34.2,0,47.2l76.2,76.1l-76.2,76.2c-13,13-13,34.2,0,47.2c6.5,6.5,15.1,9.8,23.6,9.8
	c8.6,0,17.1-3.3,23.6-9.8l76.2-76.2l76.2,76.2c6.5,6.5,15.1,9.8,23.6,9.8s17.1-3.3,23.5-9.8c13-13,13-34.2,0-47.2L632,211.6z
	 M1462.4,345h-99.8c-73.4,0-133.2-59.7-133.2-133.2s59.7-133.2,133.2-133.2s133.2,59.7,133.2,133.2v99.8
	C1495.8,330,1480.9,345,1462.4,345z M1362.6,145.4c-36.6,0-66.4,29.8-66.4,66.4s29.8,66.4,66.4,66.4h66.4v-66.4
	C1429,175.2,1399.2,145.4,1362.6,145.4z M2065.3,344.8c-73.4,0-133.2-59.7-133.2-133.2s59.7-133.2,133.2-133.2
	c73.4,0,133.2,59.7,133.2,133.2S2138.8,344.8,2065.3,344.8z M2065.3,145.3c-36.6,0-66.4,29.8-66.4,66.4s29.8,66.4,66.4,66.4
	c36.6,0,66.4-29.8,66.4-66.4S2101.9,145.3,2065.3,145.3z M1169.9,345.3c-73.4,0-133.2-59.7-133.2-133.2v-166
	c0-18.5,15-33.4,33.4-33.4s33.4,15,33.4,33.4v166c0,36.6,29.8,66.4,66.4,66.4c18.5,0,33.4,15,33.4,33.4S1188.3,345.3,1169.9,345.3z
	 M1679.4,277.8c-36.6,0-66.4-29.8-66.4-66.4V145h66.4c18.4,0,33.4-15,33.4-33.4c0-18.4-14.9-33.4-33.4-33.4H1613V45.4
	c0-18.4-15-33.4-33.4-33.4s-33.4,14.9-33.4,33.4v166c0,73.5,59.8,133.2,133.2,133.2c18.4,0,33.4-15,33.4-33.4
	C1712.8,292.8,1697.9,277.8,1679.4,277.8z M1872.4,277.9c-36.6,0-66.4-29.8-66.4-66.4v-66.4h66.4c18.4,0,33.4-15,33.4-33.4
	c0-18.4-14.9-33.4-33.4-33.4H1806V45.5c0-18.4-15-33.4-33.4-33.4s-33.4,14.9-33.4,33.4v166c0,73.5,59.8,133.2,133.2,133.2
	c18.4,0,33.4-15,33.4-33.4C1905.8,292.9,1890.9,277.9,1872.4,277.9z" />
                </svg>

            </a>
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu" id="navMenu">
            <div class="navbar-end">
                {% if site.data.navigation %}
                {% for item in site.data.navigation %}
                {% if item.dropdown %}
                <div class="navbar-item has-dropdown is-hoverable">
                    <a href="{{ item.link | relative_url }}"
                        class="navbar-link {% if item.link == page.url %}is-active{% endif %}">{{ item.name }}</a>
                    <div class="navbar-dropdown">
                        {% for subitem in item.dropdown %}
                        <a href="{{ subitem.link | relative_url }}"
                            class="navbar-item {% if subitem.link == page.url %}is-active{% endif %}">{{ subitem.name }}</a>
                        {% endfor %}
                    </div>
                </div>
                {% else %}
                <a href="{{ item.link | relative_url }}"
                    class="navbar-item {% if item.link == page.url %}is-active{% endif %}">{{ item.name }}</a>
                {% endif %}
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</nav>