<div class="container--sm">
    <h2 class="section-title title is-3">History</h2>
    <div class="timeline is-centered">
        <div class="timeline-item">
            <div class="timeline-marker is-icon"></div>
            <div class="timeline-content">
                <div class="content-inner pixel-box">
                    <i class="far fa-flag has-text-secondary"></i>
                    <p>Secret project #2 scheduled release date.</p>
                </div>
            </div>
            <div class="timeline-date">
                <p class="is-uppercase has-text-weight-bold">Mid 2021</p>
            </div>
        </div>

        <div class="timeline-item">
            <div class="timeline-marker is-icon"></div>
            <div class="timeline-content">
                <div class="content-inner pixel-box">
                    <i class="fa fa-rocket has-text-secondary"></i>
                    <p>Secret project #2 Kickstarter campaign.</p>
                </div>
            </div>
            <div class="timeline-date">
                <p class="is-uppercase has-text-weight-bold">Early 2021</p>
            </div>
        </div>
        <header class="timeline-header">
            <span class="tag is-primary">2021</span>
        </header>
        <div class="timeline-item">
            <div class="timeline-marker is-icon"></div>
            <div class="timeline-content">
                <div class="content-inner pixel-box">
                    <i class="far fa-flag has-text-secondary"></i>
                    <p>Secret project #1 scheduled release date.</p>
                </div>
            </div>
            <div class="timeline-date">
                <p class="is-uppercase has-text-weight-bold">Late 2020</p>
            </div>
        </div>
        <header class="timeline-header">
            <span class="tag is-large is-primary is-uppercase">Today</span>
        </header>
        <div class="timeline-item">
            <div class="timeline-marker is-icon"></div>
            <div class="timeline-content">
                <div class="content-inner pixel-box">
                    <i class="far fa-flag has-text-secondary"></i>
                    <p><a href="https://store.steampowered.com/app/900270/Reventure/">Reventure</a> receives
                        multiple awards and is ported to mobile platforms and Nintendo Switch.</p>
                </div>
            </div>
            <div class="timeline-date">
                <p class="is-uppercase has-text-weight-bold">June 2020</p>
            </div>
        </div>
        <div class="timeline-item">
            <div class="timeline-marker is-icon"></div>
            <div class="timeline-content">
                <div class="content-inner pixel-box">
                    <i class="far fa-user has-text-secondary"></i>
                    <p>The team grows up to 6 people.</p>
                </div>
            </div>
            <div class="timeline-date">
                <p class="is-uppercase has-text-weight-bold">March 2020</p>
            </div>
        </div>
        <div class="timeline-item">
            <div class="timeline-marker is-icon"></div>
            <div class="timeline-content">
                <div class="content-inner pixel-box">
                    <i class="fa fa-rocket has-text-secondary"></i>
                    <p>Pixelatto abandons contract work to focus 100% on its own products.</p>
                </div>
            </div>
            <div class="timeline-date">
                <p class="is-uppercase has-text-weight-bold">January 2020</p>
            </div>
        </div>
        <header class="timeline-header">
            <span class="tag is-primary">2020</span>
        </header>
        <div class="timeline-item">
            <div class="timeline-marker is-icon"></div>
            <div class="timeline-content">
                <div class="content-inner pixel-box">
                    <i class="far fa-flag has-text-secondary"></i>
                    <p>Our first game, <a href="https://store.steampowered.com/app/900270/Reventure/">Reventure</a>
                        is launched on Steam.</p>
                </div>
            </div>
            <div class="timeline-date">
                <p class="is-uppercase has-text-weight-bold">June 2019</p>
            </div>
        </div>
        <header class="timeline-header">
            <span class="tag is-primary">2019</span>
        </header>
        <div class="timeline-item">
            <div class="timeline-marker is-icon"></div>
            <div class="timeline-content">
                <div class="content-inner pixel-box">
                    <i class="fa fa-briefcase has-text-secondary"></i>
                    <p>Contract work for <a href="https://www.ie.edu/es/business-school/">IE Business School</a>: an
                        innovative learning environment featuring realtime online VR and software for the <a
                            href="https://www.youtube.com/watch?v=8MCXFW0BeFM">WowRoom</a>.</p>
                </div>
            </div>
            <div class="timeline-date">
                <p class="is-uppercase has-text-weight-bold">April 2018</p>
            </div>
        </div>
        <header class="timeline-header">
            <span class="tag is-primary">2018</span>
        </header>
        <div class="timeline-item">
            <div class="timeline-marker is-icon"></div>
            <div class="timeline-content">
                <div class="content-inner pixel-box">
                    <i class="fa fa-briefcase has-text-secondary"></i>
                    <p>Contract work for Kitmaker Entertainment: <a
                             href="https://www.youtube.com/watch?v=vy8qkonHgxo">Mixee Labs</a>, a mobile F2P game.
                    </p>
                </div>
            </div>
            <div class="timeline-date">
                <p class="is-uppercase has-text-weight-bold">September 2017</p>
            </div>
        </div>
        <div class="timeline-item">
            <div class="timeline-marker is-icon"></div>
            <div class="timeline-content">
                <div class="content-inner pixel-box">
                    <i class="far fa-flag has-text-secondary"></i>
                    <p>Our second app, <a href="https://store.steampowered.com/app/523600/Card_Creator/">Card
                            Creator</a>, is published on Steam.</p>
                </div>
            </div>
            <div class="timeline-date">
                <p class="is-uppercase has-text-weight-bold">April 2017</p>
            </div>
        </div>
        <header class="timeline-header">
            <span class="tag is-primary">2017</span>
        </header>
        <div class="timeline-item">
            <div class="timeline-marker is-icon"></div>
            <div class="timeline-content">
                <div class="content-inner pixel-box">
                    <i class="far fa-user has-text-secondary"></i>
                    <p>The team grows up to 3 people.</p>
                </div>
            </div>
            <div class="timeline-date">
                <p class="is-uppercase has-text-weight-bold">March 2016</p>
            </div>
        </div>
        <div class="timeline-item">
            <div class="timeline-marker is-icon"></div>
            <div class="timeline-content">
                <div class="content-inner pixel-box">
                    <i class="fa fa-briefcase has-text-secondary"></i>
                    <p>Contract work for <a
                        href="https://buhomag.elmundo.es/videojuegos/real-madrid-imperivm-2016-convierte-la-undecima-en-un-imperio/">RMImperivm</a>:
                        a mobile city management game with the Real Madrid brand.</p>
                </div>
            </div>
            <div class="timeline-date">
                <p class="is-uppercase has-text-weight-bold">January 2016</p>
            </div>
        </div>
        <header class="timeline-header">
            <span class="tag is-primary">2016</span>
        </header>
        <div class="timeline-item">
            <div class="timeline-marker is-icon"></div>
            <div class="timeline-content">
                <div class="content-inner pixel-box">
                    <i class="fa fa-briefcase has-text-secondary"></i>
                    <p>Contract work for <a href="https://startupxplore.com/es/startups/mybrana">MyBrana</a>: an
                        augmented reality app.</p>
                </div>
            </div>
            <div class="timeline-date">
                <p class="is-uppercase has-text-weight-bold">March 2015</p>
            </div>
        </div>
        <header class="timeline-header">
            <span class="tag is-primary">2015</span>
        </header>
        <div class="timeline-item">
            <div class="timeline-marker is-icon"></div>
            <div class="timeline-content">
                <div class="content-inner pixel-box">
                    <i class="far fa-flag has-text-secondary"></i>
                    <p>Our first app, <a
                        href="https://store.steampowered.com/app/305860/AutoTileGen/">AutoTileGen</a>, is
                        published on Steam.</p>
                </div>
            </div>
            <div class="timeline-date">
                <p class="is-uppercase has-text-weight-bold">July 2014</p>
            </div>
        </div>
        <div class="timeline-item">
            <div class="timeline-marker is-icon"></div>
            <div class="timeline-content">
                <div class="content-inner pixel-box">
                    <i class="far fa-star has-text-secondary"></i>
                    <p>Pixelatto is founded as a one person LLC.</p>
                </div>
            </div>
            <div class="timeline-date">
                <p class="is-uppercase has-text-weight-bold">June 2014</p>
            </div>
        </div>
        <header class="timeline-header">
            <span class="tag is-primary">2014</span>
        </header>
    </div>
</div>
