<div class="box has-rounded-corners" style="height: 100%; padding: 30px;">

    {% capture twitter_link %}
    {% if member.twitter_override %}{{ member.twitter_override }}{% else %}https://twitter.com/{{ member.twitter }}{% endif %}
    {% endcapture %}

    <div class="level">
        <div class="level-left">
            <p><span class="title is-4">{{ member.title }}</span></p>
        </div>
        <div class="level-right">
            <p class="subtitle is-6">{{ member.subtitle }}</p>
        </div>
    </div>
    <div class="columns is-mobile" style="margin: 0;">
        <div class="column">
            <a href="{{ twitter_link }}">
                <figure class="image is-64x64" style="margin: auto;">
                    <img src="{{ member.image }}" alt="Image">
                </figure>
                <p class="has-text-centered has-text-info">@{{member.twitter}}</p>
            </a>
        </div>
        <div class="column speech-bubble bubble-is-right"
            style="display: table; min-height: 50px; margin: 20px 0; padding: 10px;">
            <div style="display: table-cell; vertical-align: middle;">
                <blockquote style="position: relative;">"{{ member.quote }}"</blockquote>
            </div>
        </div>
    </div>

    <div class="mb-3">
        <span class="tag is-dark-grey is-small">
            #One
        </span>
        <span class="tag is-dark-grey is-small">
            #Two
        </span>
        <span class="tag is-dark-grey is-small">
            #Three
        </span>
    </div>

    {% if member.content.size > 5 %}
    <div class="content has-text-justified">
        {{ member.content }}
    </div>
    {% endif %}

</div>