<div class="box has-rounded-corners" style="height: 100%; padding: 30px;">

    {% capture twitter_link %}
        {% if member.twitter_override %}{{ member.twitter_override }}{% else %}https://twitter.com/{{ member.twitter }}{% endif %}
    {% endcapture %}

    <div>
        <p><span class="title is-4">{{ member.title }}</span></p>
        <p class="subtitle is-6">{{ member.subtitle }}</p>
    </div>
    <div class="columns is-mobile is-vcentered" style="margin: 0;">
        <div class="column">
            <a href="{{ twitter_link }}">
                <figure class="image is-128x128" style="margin: auto;">
                    <img src="{{ member.image }}" alt="Image">
                </figure>
                <p class="has-text-centered has-text-info"><b>@{{member.twitter}}</b></p>
            </a>
        </div>
        <div class="column team-speech-bubble"
            style="display: table; min-height: 100px;">
            <div style="display: table-cell; vertical-align: middle;">
                <blockquote style="position: relative;">"{{ member.quote }}"</blockquote>
            </div>
        </div>
    </div>

    <div class="mb-3 mt-1" style="text-align: center;">
        {% for hashtag in member.hashtags %}
        <span class="tag is-dark-grey is-small">
            #{{ hashtag }}
        </span>
        {% endfor %}
    </div>

    {% if member.content.size > 5 %}
        <div class="content has-text-justified">
            {{ member.content }}
        </div>
    {% endif %}

</div>