<div class="pixel-box" style="height: 100%; padding: 30px; display: flex; flex-flow: column;">

    {% capture twitter_link %}
        {% if member.twitter_override %}{{ member.twitter_override }}{% else %}https://twitter.com/{{ member.twitter }}{% endif %}
    {% endcapture %}

    <div style="flex: 1; margin: 0;">
        <div class="column">
            <figure class="image" style="margin: auto;">
                <img src="{{ member.image }}" alt="Team image" />
            </figure>
        </div>
    </div>
    <div class="has-text-centered" style="flex: 1; margin: 0;">
        <p class="pb-1"><span class="title is-size-5-touch is-size-4-desktop">{{ member.title }}</span></p>
        <p class="subtitle is-6">{{ member.subtitle }}</p>
    </div>
    {%- if member.job_description -%}
        <div class="content has-text-centered" style="margin:15px 0; font-size: 0.875em;">
            {{ member.job_description }}
        </div>
    {%- endif -%}
    <div class="member-socials has-text-centered">
        <ul>
            <li>
                <a href="//twitter.com/{{ member.twitter }}" target="_blank">
                    <span class="icon has-text-secondary"><i class="fab fa-twitter"></i></span>
                </a>
            </li>
            {%- if member.instagram -%}
                <li>
                    <a href="//www.instagram.com/{{ member.instagram }}" target="_blank">
                        <span class="icon has-text-secondary"><i class="fab fa-instagram"></i></span>
                    </a>
                </li>
            {%- endif -%}
            {%- if member.facebook -%}
                <li>
                    <a href="//www.facebook.com/{{ member.facebook }}" target="_blank">
                        <span class="icon has-text-secondary"><i class="fab fa-facebook-f"></i></span>
                    </a>
                </li>
            {%- endif -%}
        </ul>
    </div>
</div>
