{% assign members = site.team | sort:"order" %}
<div id="team-carousel" class="carousel">
    {% assign cont = 1 %}
    {%- for member in members -%}
        {%- if member.hidden -%}
        {%- else -%}
            <div class="item-{{ cont }}">
                {%- unless page.short_version == true -%}
                    {% include member-card.html %}
                {%- else -%}
                    {% include member-card-presskit.html %}
                {%- endunless -%}
            </div>
            {% assign cont = cont | plus:1 %}
        {%- endif -%}
    {%- endfor -%}
</div>
