{% assign members = site.team | sort:"order" %}

<div class="columns is-multiline is-vcentered is-hidden-mobile is-flex-desktop" style="justify-content: center;">
    {%- for member in members -%}
        {%- if member.hidden -%}
        {%- else -%}
            {%- unless page.short_version == true -%}
                <div class="column is-one-third-desktop is-half-tablet">
                    {% include member-card.html %}
                </div>
            {%- else -%}
                <div class="column is-6">
                    {% include member-card-presskit.html %}
                </div>
            {%- endunless -%}
        {%- endif -%}
    {%- endfor -%}
</div>

<div id="team-carousel" class="carousel is-hidden-desktop is-block-mobile">
    {% assign cont = 1 %}
    {%- for member in members -%}
        {%- if member.hidden -%}
        {%- else -%}
            <div class="item-{{ cont }}">
                {%- unless page.short_version == true -%}
                    {% include member-card.html %}
                {%- else -%}
                    {% include member-card-presskit.html %}
                {%- endunless -%}
            </div>
            {% assign cont = cont | plus:1 %}
        {%- endif -%}
    {%- endfor -%}
</div>
