<div class="post-preview card">
    <a class="post-link" href="{{ site.baseurl }}{{ post.url }}" style="color: initial; height: 100%;">
        {%- if post.image -%}
            <div class="card-image">
                <!-- <div class="image is-16by9">
                    <img src="/img/upload/{{ post.image }}" alt="{{ post.title }}" />
                </div> -->

                <div class="post-img image is-16by9" style="background-image: url(/img/upload/{{ post.image }});"></div>

                <!-- <div class="bg-img">
                    <img src="/img/upload/{{ post.image }}" alt="{{ post.title }}" />
                </div> -->
            </div>
        {%- else -%}
            <header class="card-header">
                <p class="card-header-title">{{ post.title }}</p>
            </header>
        {%- endif -%}
        <div class="card-content">
            <div class="content">
                <div class="tags mt-4 mb-0">
                    {%- for tagName in post.tags -%}
                        {% assign tag = site.tags | where_exp:"item","item.tag == tagName" | first %}
                        <span class="post-tag tag--sm">{{ tag.tag }}</span>
                    {%- endfor -%}
                </div>
                {%- if post.image -%}
                    <p class="title is-5 my-3">{{ post.title }}</p>
                {%- endif -%}
                {%- if post.description -%}
                    <p>{{ post.description | markdownify | remove: '<p>' | remove: '</p>' }}</p>
                {%- else -%}
                    <p>{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}</p>
                {%- endif -%}
            </div>
        </div>
        <footer class="card-footer">
            <div class="is-flex">
                {%- if post.author-avatar -%}
                    <figure class="image is-32x32" style="margin: auto 0 auto 20px;">
                        <img src="{{ post.author-avatar }}" alt="Post author avatar" />
                    </figure>
                {%- endif -%}
                <p class="card-footer-item">{{ post.author }} - {{ post.date | date: "%b %-d, %Y" }}</p>
            </div>
        </footer>
    </a>
</div>
