<div class="section">
    <div class="container">
        <div class=" pt-3">

            <img alt="{{product.name}} logo" src="/img/product/{{product.code}}-logo.svg"
                style="display: block; margin: auto; height: 30vw; max-height: 200px;" />

            <div class="columns is-multiline is-vcentered "
                style="border-radius: 40px 0px 40px 0px;margin: 20px; margin-top: 0;">

                <div class="column is-12 has-text-centered ">
                    <p class="title is-3 py-4" style="display: none;">{{ product.title }}</p>
                    <p class="subtitle is-3 pl-2 py-4">{{ product.subtitle }}</p>
                </div>

                <div class="column is-8">
                    <figure class="image is-16by9" style="border-radius: 30px 0px 30px 0px; overflow: hidden;">
                        {% if product.video %}
                        <iframe title="{{ product.name}} trailer video" class="has-ratio" width="640" height="360"
                            src="https://www.youtube.com/embed/{{ product.video }}?rel=0" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                        </iframe>
                        {% else %}
                        <img src="{{ product.gallery.imagefolder }}{{ product.gallery.images[0].name }}" />
                        {% endif %}
                    </figure>
                </div>

                <div class="column is-4 has-text-right">

                    <p class="title is-4 has-text-right">{{ product.price }}</p>
                    {% if product.product_code %}
                    <p class="subtitle is-5 has-text-right">{{ product.product_code }}</p>
                    {% endif %}

                    {% if product.features %}
                    <div class="content pl-5">
                        {% for feature in product.features %}
                        <p>
                            <span>{{ feature.label }}</span>

                            <span class="icon">
                                {% if feature.icon %}
                                <i class="fas {{ feature.icon }}"></i>
                                {% else %}
                                <i class="fas fa-circle fa-xs"></i>
                                {% endif %}
                            </span>
                        </p>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% if product.sendowl_id %}
    <div class="container">
        <a alt="{{ product.name }} Pixelatto buy button" href="https://transactions.sendowl.com/products/78274278/42A4FD4D/purchase" rel="nofollow" id="buy-button" class="button is-large is-{% if product.type == 'game' %}secondary{% else %}primary{% endif %}">Get it now!</a>
        <script type="text/javascript" src="https://transactions.sendowl.com/assets/sendowl.js" ></script>
        <div id="price" style="display: inline-block;padding: 1rem;"></div>
    </div>
    {% endif %}
    
    <br>
    <br>
    <div class="container">
        {% if product.sendowl_id%}
        <h3 class="subtitle is-5">Get it also at</h3>
        {% else %}
            {% if product.external_stores %}
            <h1 class="title is-3">Get it at</h1>
            {% endif %}
        {% endif%}

        {% include external-store-buttons.html %}
    </div>

    <br>
    <br>
    <div class="container">
        <div class="columns is-multiline is-vcentered has-text-justified">
            <div class="column is-12">
                <p class="title is-4">Description</p>
                <div class="content">
                    {{ product.long_description | newline_to_br }}
                </div>
            </div>

            <div class="column is-12">
                <!-- Start Carousel -->
                <div id="product-carousel" class="carousel">
                    {% assign cont = 1 %}
                    {% for image in product.gallery.images %}
                    <div class="item-{{ cont }}">
                        <img alt="{{product.name}} screenshot {{ cont }}" src="{{ product.gallery.imagefolder }}{% if image.thumbnail %}{{ image.thumbnail }}{% else %}{{ image.name }}{% endif %}"
                            onclick="openModal('product-modal');currentSlide({{ cont }})">
                    </div>
                    {% assign cont = cont | plus:1 %}
                    {% endfor %}
                </div>
                <!-- End Carousel -->
            </div>

            <!-- Start lightbox modal -->
            <div id="product-modal" class="modal" onclick="ClickOpenedModal(event)">
                <div class="modal-content is-vcentered">
                    {% assign cont = 1 %}
                    {% for image in product.gallery.images %}
                    <div class="item-slide product-modal-slide">
                        <img loading="lazy" alt="{{product.name}} lightbox image {{ cont }}" src="{{ product.gallery.imagefolder }}{{ image.name }}">
                    </div>
                    {% assign cont = cont | plus:1 %}
                    {% endfor %}
                </div>
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
                <button onclick="closeModal()" class="modal-close is-large" aria-label="close"></button>
            </div>
            <!-- End lightbox modal -->

            {% if site.data.reviews[product.code] %}
            <div class="column is-12">
                <p class="title is-4">Reviews</p>
                {% for review in site.data.reviews[product.code] %}
                {% include review.html %}
                {% endfor %}
            </div>
            {% endif %}

        </div>
    </div>
    {% if product.code == 'reventure' %}
    <br>
    <br>
    <div class="container">
        <h1 class="title is-4">Awards</h1>
        <div class="columns is-multiline has-text-centered">
            <div class="column is-6 is-centered">
                <img style="height: 350px;" alt="Reventure award 1" src="/img/product/reventure/awards/galaindie2.png">
            </div>
            <div class="column is-6 is-centered">
                <img style="height: 350px;border-radius: 30px 0px 30px 0px;" alt="Reventure award 1" src="/img/product/reventure/awards/gamelab2020.png">
            </div>
        </div>
    </div>
    {% endif %}

</div>

{% include subscribe-banner.html %}

{% contentfor extra-js no-convert %}
    <script>
        var priceHTML = document.getElementById("price");
        var buyButtonHTML = document.getElementById("buy-button");
        getSendOwlProduct({{ product.sendowl_id }}).then((data) => {
            priceHTML.textContent = "only for " + data.product.price + " €";
            buyButtonHTML.href = data.product.instant_buy_url;
        });
    </script>
{% endcontentfor %}