<section class="hero-section product-hero">
    <div class="bg-img">
        <img src="{{ product.hero_image[0] }}" alt="{{ product.hero_image[1] }}" />
        <div class="hero-mask"></div>
    </div>
</section>

<div class="product-preview">
    <div class="container--sm">
        <div class="product-card pixel-box is-relative">
            <div class="columns is-desktop is-gapless is-multiline is-vcentered">
                <div class="column">
                    <figure class="image is-16by9" style="border-radius: 5px; overflow: hidden;">
                        {%- if product.video -%}
                            <iframe title="{{ product.name}} trailer video" class="has-ratio is-hidden-mobile" width="640" height="360"
                                src="https://www.youtube.com/embed/{{ product.video }}?rel=0&modestbranding=1" frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen>
                            </iframe>
                            <div class="video_wrapper js-videoWrapper is-hidden-tablet">
                                <iframe class="videoIframe js-videoIframe" src="" frameborder="0" allowTransparency="true"
                                        allowfullscreen
                                        data-src="https://www.youtube.com/embed/{{ product.video }}?autoplay=1&modestbranding=1&rel=0&showinfo=0">
                                </iframe>
                                <button class="videoPoster js-videoPoster" style="background-image:url(/img/product/{{product.code}}-logo.svg)"></button>
                            </div>
                        {%- else -%}
                            <img src="/img/product/{{ product.code }}-640-360.jpg" />
                        {%- endif -%}
                    </figure>
                </div>
                <div class="column">
                    <div class="card-inner">
                        {%- if product.sale -%}
                            <img class="product-sale" src="/img/product/sale-lable.svg" alt="Product sale label" />
                        {%- endif -%}
                        <img class="product-logo is-hidden-mobile" src="/img/product/{{product.code}}-logo.svg" alt="{{product.name}} logo" />
                        <p class="title is-3 py-4" style="display: none;">{{ product.title }}</p>
                        <h1 class="is-uppercase has-text-weight-bold" style="border-bottom: 1px solid #DCDCDC;">{{ product.subtitle }}</h1>

                        {%- if product.features -%}
                            <div class="content pt-4">
                                {%- for feature in product.features -%}
                                    <p>
                                        <span class="icon has-text-primary">
                                            {%- if feature.icon -%}
                                                <i class="fas {{ feature.icon }}"></i>
                                            {%- else -%}
                                                <i class="fas fa-circle fa-xs"></i>
                                            {%- endif -%}
                                        </span>
                                        <span>{{ feature.label }}</span>
                                    </p>
                                {%- endfor -%}
                            </div>
                        {%- endif -%}
                    </div>
                </div>
                <div class="column is-12">
                    <div class="product-info mt-5">
                        <div class="columns is-desktop is-gapless is-vcentered">
                            <div class="column is-two-thirds-tablet is-half-desktop">
                                <div class="info-price is-flex">
                                    {% if product.name == "Tabletop Creator" %}
                                        <a alt="{{ product.name }} Pixelatto free version button" href="https://transactions.sendowl.com/products/78274278/42A4FD4D/purchase" rel="nofollow" class="button button-round is-primary free-button">Try it free!</a>
                                        <style>
                                            .free-button {
                                                margin-right: 10px;
                                                box-shadow: 0px 4px 20px rgb(0 159 199 / 50%);
                                            }
                                            .free-button:hover {
                                                background-color: #0095ba !important;
                                            }
                                        </style>
                                    {% endif %}
                                    <a alt="{{ product.name }} Pixelatto buy button" href="https://transactions.sendowl.com/products/78274278/42A4FD4D/purchase" rel="nofollow" id="buy-button" class="button button-round is-secondary">Get it now</a>
                                    <script type="text/javascript" src="https://transactions.sendowl.com/assets/sendowl.js"></script>
                                    <div class="price-box is-relative is-uppercase has-text-success has-text-weight-bold has-text-centered is-size-4">
                                        {%- if product.old-price -%}
                                            <p class="old-price is-size-6"><s>{{ product.old-price }}</s></p>
                                        {%- endif -%}
                                        <div id="price" class="{{ product.name | downcase | slugify }}-price"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="column is-full-mobile is-two-thirds-tablet is-half-desktop">
                                <div class="info-platforms">
                                    {% include external-store-buttons.html %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="section description-section">
        <div class="container--sm">
            <div class="columns is-multiline is-vcentered is-gapless has-text-justified has-text-left-touch">
                <div class="column is-12">
                    <h2 class="inner-title is-uppercase has-text-weight-bold pb-4 mb-4">Description</h2>
                    <div class="content">
                        {{ product.long_description | newline_to_br }}
                    </div>
                </div>
                <!--Screenshots-->
                <div class="column is-12">
                    <br />
                    <br />
                    <h2 class="inner-title is-uppercase has-text-weight-bold pb-4 mb-4">Screenshots</h2>
                    <!-- Start Carousel -->
                    <div id="product-carousel" class="carousel">
                        {% assign cont = 1 %}
                        {% for image in product.gallery.images %}
                        <div class="item-{{ cont }}">
                            <img alt="{{product.name}} screenshot {{ cont }}" src="{{ product.gallery.imagefolder }}{% if image.thumbnail %}{{ image.thumbnail }}{% else %}{{ image.name }}{% endif %}"
                                onclick="openModal('product-modal');currentSlide({{ cont }})">
                        </div>
                        {% assign cont = cont | plus:1 %}
                        {% endfor %}
                    </div>
                    <!-- End Carousel -->
                </div>
                <!-- Start lightbox modal -->
                <div id="product-modal" class="modal" onclick="ClickOpenedModal(event)">
                    <div class="modal-content is-vcentered">
                        {% assign cont = 1 %}
                        {% for image in product.gallery.images %}
                        <div class="item-slide product-modal-slide">
                            <img loading="lazy" alt="{{product.name}} lightbox image {{ cont }}" src="{{ product.gallery.imagefolder }}{{ image.name }}">
                        </div>
                        {% assign cont = cont | plus:1 %}
                        {% endfor %}
                    </div>
                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>
                    <button onclick="closeModal()" class="modal-close is-large" aria-label="close"></button>
                </div>
                <!-- End lightbox modal -->
            </div>
        </div>
    </section>

    {%- if product.versions -%}
        <section class="section comparison-section">
            <div class="container--sm">
                <h2 class="inner-title is-uppercase has-text-weight-bold pb-4 mb-4">{{ product.versions.title }}</h2>
                {% include redesign/comparison-table.html %}
            </div>
        </section>
    {%- endif -%}

    {%- if product.awards -%}
        <section class="section awards-section">
            <div class="container--sm">
                <h2 class="inner-title is-uppercase has-text-weight-bold pb-4 mb-4">{{ product.awards.title }}</h2>
                {% include redesign/awards-block.html %}
            </div>
        </section>
    {%- endif -%}

    {% assign testimonials = site.testimonials %}
    {%- for item in testimonials -%}
        {%- if page.url contains item.code -%}
            <section class="section testimonials-section">
                <div class="container--sm">
                    <h2 class="inner-title is-uppercase has-text-weight-bold pb-4 mb-4">{{ item.testimonials.title }}</h2>
                    {% include redesign/testimonials-mobile.html %}
                    {% include redesign/testimonials-desktop.html %}
                </div>
            </section>
        {%- endif -%}
    {%- endfor -%}
</div>

{% contentfor extra-js no-convert %}
    <script>
        var priceHTML = document.getElementById("price");
        var buyButtonHTML = document.getElementById("buy-button");
        getSendOwlProduct({{ product.sendowl_id }}).then((data) => {
            priceHTML.textContent = data.product.price + " €";
            buyButtonHTML.href = data.product.instant_buy_url;
        });
    </script>
{% endcontentfor %}
