{% assign presskit = product.presskit %}

<section class="section presskit">
    <div class="container">
        <div class="columns">
            <div class="column is-full is-vcentered">
                <img src="/img/product/{{ product.code }}-logo.svg"
                    style="display: block; margin: auto; height: 30vw; max-height: 200px;" />
            </div>
        </div>
        <div class="columns">
            <div class="column is-full">
                <div class="content">
                    <h2 class="subtitle is-8">Information</h2>
                    <span class="ml-5 has-text-weight-bold">Pitch</span>
                    <p class="ml-5">{{ product.subtitle }}</p>
                    <span class="ml-5 has-text-weight-bold">Description</span>
                    <p class="ml-5">{{ product.long_description | newline_to_br }}</p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container content">
        <h2 class="subtitle is-8">Product Resources</h2>
        <span>Download all products resources <a
                onclick="window.open('/download/{{ product.code }}-presskit.zip', 'Download');" target="_blank"
                class="has-text-{% if product.type == 'game' %}secondary{% else %}primary{% endif %}">here</a></span>

        <!-- Start tiles gallery -->
        <div class="tile is-vertical is-ancestor" style="padding-top: 1.5rem;">
            <div class="tile is-parent">
                <div class="tile is-parent">
                    <div class="tile is-child">
                        <figure class="image is-16by9"
                            style="border-radius: 30px 0px 30px 0px; overflow: hidden; height: 100%;">
                            <iframe class="has-ratio" width="640" height="360"
                                src="https://www.youtube.com/embed/{{ product.video }}?rel=0" frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen>
                            </iframe>
                        </figure>
                    </div>
                </div>
                <div class="tile is-vertical is-parent">
                    <div class="tile is-parent">
                        <div class="tile is-child">
                            <figure class="image is-16by9">
                                <img src="{{ product.gallery.imagefolder }}{{ product.gallery.images[0].name }}" alt=""
                                    onclick="openModal('{{ product.code }}-presskit-modal');currentSlide({{ 1 }})">
                            </figure>
                        </div>
                        <div class="tile is-child">
                            <figure class="image is-16by9">
                                <img src="{{ product.gallery.imagefolder }}{{ product.gallery.images[1].name }}" alt=""
                                    onclick="openModal('{{ product.code }}-presskit-modal');currentSlide({{ 2 }})">
                            </figure>
                        </div>
                    </div>
                    <div class="tile is-parent">
                        <div class="tile is-child">
                            <figure class="image is-16by9">
                                <img src="{{ product.gallery.imagefolder }}{{ product.gallery.images[2].name }}" alt=""
                                    onclick="openModal('{{ product.code }}-presskit-modal');currentSlide({{ 3 }})">
                            </figure>
                        </div>
                        <div class="tile is-child">
                            <figure class="image is-16by9">
                                <img src="{{ product.gallery.imagefolder }}{{ product.gallery.images[3].name }}" alt=""
                                    onclick="openModal('{{ product.code }}-presskit-modal');currentSlide({{ 4 }})">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tile is-parent">

                {% assign cont = 5 %}
                {% for cont in (5..product.gallery.images.size) %}

                {% if contModulo4 == 0 %}
            </div>
            <div class="tile is-parent">
                {% endif %}

                <div class="tile is-child is-3">
                    <figure class="image is-16by9">
                        {% assign index = cont | minus:1 %}
                        <img src="{{ product.gallery.imagefolder }}{{ product.gallery.images[index].name }}" alt=""
                            onclick="openModal('{{ product.code }}-presskit-modal');currentSlide({{ cont }})">
                    </figure>
                </div>

                {% assign cont = cont | plus:1 %}
                {% assign contModulo4 = cont | modulo:4 %}

                {% endfor %}

            </div>
        </div>
        <!-- End tiles gallery -->

        <!-- Start lightbox modal -->
        <div class="modal" id="{{ product.code }}-presskit-modal" onclick="ClickOpenedModal(event)">
            <div class="modal-content is-vcentered">
                {% for image in product.gallery.images %}
                <div class="item-slide {{ product.code }}-presskit-modal-slide">
                    <img src="{{ product.gallery.imagefolder }}{{ image.name }}">
                </div>
                {% endfor %}
            </div>
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
            <button onclick="closeModal()" class="modal-close is-large" aria-label="close"></button>
        </div>
        <!-- End lightbox modal -->
    </div>

    <br>
    <div class="container content">
        <h2 class="subtitle is-8">Features</h2>
        <ul>
            {% for feature in presskit.features %}
            <li>{{ feature.text }}</li>
            {% endfor %}
        </ul>
    </div>
    <!-- <br>
    <div class="container content">
        <h2 class="subtitle is-8">Awards</h2>
        <div class="column is-12">
            <div id="testimonials-carousel" class="carousel">
                {% assign cont = 1 %}
                {% for testimonial in presskit.testimonials %}
                <div class="item-{{ cont }}">
                    {% if testimonial.script %}
                    {{ testimonial.script }}
                    {% else %}
                    {% include review.html %}
                    {% endif%}
                </div>
                {% assign cont = cont | plus:1 %}
                {% endfor %}
            </div>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div> -->
    <br>
    <div class="container content">
        <div class="column is-full">
            <h2 class="subtitle is-8">Testimonials</h2>
            <div id="testimonials-carousel" class="carousel">
                {% assign cont = 1 %}
                {% for testimonial in presskit.testimonials %}
                <div class="item-{{ cont }}">
                    {% if testimonial.script %}
                    {{ testimonial.script }}
                    {% else %}
                    {% include review.html %}
                    {% endif%}
                </div>
                {% assign cont = cont | plus:1 %}
                {% endfor %}
            </div>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="columns">
            <div class="column is-half">
                <div class="content">
                    <h2 class="subtitle is-8">Factsheet</h2>
                    <span class="ml-5 has-text-weight-bold">Developer</span>
                    <p class="ml-5">{{ presskit.factsheet.developer }}</p>
                    <span class="ml-5 has-text-weight-bold">Release date</span>
                    <p class="ml-5">{{ presskit.factsheet.release_date }}</p>
                </div>
            </div>
            <div class="column is-half">
                <div class="content">
                    <h2 class="subtitle is-8">Additional info</h2>
                    {% if presskit.additional_info.languages %}
                    <span class="ml-5 has-text-weight-bold">Languages</span>
                    <p class="ml-5">{{ presskit.additional_info.languages }}</p>
                    {% endif %}
                    <p class="ml-5"><span class="has-text-weight-bold">Stores </span></p>
                    {% for store in presskit.additional_info.stores %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .presskit .content figure {
        margin-left: 0;
        margin-right: 0;
    }
</style>