
<div class="card box">
    <div class="card-image">
    </div>
    <div class="card-content">
        <div class="media">
            <div class="media-left">
                <figure class="image is-48x48">
                    <img src="http://bulma.io/images/placeholders/96x96.png" alt="Image">
                </figure>
            </div>
            <div class="media-content">
                <p class="title is-4">{{ product.title }} - <span
                        class="subtitle is-6">{{ product.subtitle }}</span> </p>
                <p class="subtitle is-6">{{ product.description }}</p>
            </div>
        </div>

        <div class="content">
            <ul>
            {% for feature in product.features %}
                <li>{{ feature.label }}</li>
            {%- endfor -%}
            </ul>
            {{ member.content }}
        </div>
    </div>
</div>