{% assign presskit = product.presskit %}

<section class="hero-section">
    <div class="bg-img">
        <img src="/img/home/hero-background.svg" alt="Pixelatto background image" />
    </div>
    <div class="hero-inner">
        <h1 class="hero-title has-text-weight-bold">{{ product.name }} presskit</h1>
    </div>
</section>

<div class="presskit product-presskit-content">
    <div class="container--sm">
        <div class="product-card pixel-box">
            <div class="columns is-desktop is-gapless is-multiline is-vcentered">
                <div class="column">
                    <img class="image-logo" src="/img/product/{{product.code}}-logo.svg" alt="{{product.name}} logo" />
                    <figure class="image is-16by9" style="border-radius: 30px 0px 30px 0px; overflow: hidden;">
                        {%- if product.video -%}
                            <iframe title="{{ product.name}} trailer video" class="has-ratio" width="640" height="360"
                                src="https://www.youtube.com/embed/{{ product.video }}?rel=0&modestbranding=1" frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen>
                            </iframe>
                        {%- else -%}
                            <img src="/img/product/{{ product.code }}-640-360.jpg" />
                        {%- endif -%}
                    </figure>
                </div>
                <div class="column">
                    <div class="card-inner">
                        <h2 class="section-title">Information</h2>
                        <h2 class="inner-title is-uppercase has-text-weight-bold pb-3 mb-3">Pitch</h2>
                        <p class="">{{ product.subtitle }}</p>
                        <h2 class="inner-title is-uppercase has-text-weight-bold pb-3 mb-3 mt-5">Description</h2>
                        <p class="">{{ product.long_description | newline_to_br }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {%- if presskit.features -%}
        <section class="section product-presskit-features">
            <div class="container--sm">
                <h2 class="section-title">Features</h2>
                <ul class="feature-list">
                    {%- for feature in presskit.features -%}
                        <li>
                            <span class="icon has-text-primary"><i class="fas fa-circle fa-xs"></i></span>
                            {{ feature.text }}
                        </li>
                    {%- endfor -%}
                </ul>
            </div>
        </section>
    {%- endif -%}

    {%- if product.awards -%}
        <section class="section product-presskit-awards">
            <div class="container--sm">
                <h2 class="section-title">Awards</h2>
                {% include redesign/awards-block.html %}
            </div>
        </section>
    {%- endif -%}

    {%- if product.versions -%}
        <section class="section comparison-section">
            <div class="container--sm">
                <h2 class="inner-title is-uppercase has-text-weight-bold pb-4 mb-4">{{ product.versions.title }}</h2>
                {% include redesign/comparison-table.html %}
            </div>
        </section>
    {%- endif -%}

    <section class="section product-presskit-resources">
        <div class="container--sm">
            <div class="section-header resources-header">
                <h2 class="section-title mb-0">Product Resources</h2>
                <a class="show-link is-uppercase has-text-weight-bold" onclick="window.open('/download/{{ product.code }}-presskit.zip', 'Download');" target="_blank">
                    <span class="icon"><i class="fas fa-cloud-download-alt"></i></span>
                    Download all product resources
                </a>
            </div>
            <div class="columns is-multiline is-vcentered has-text-justified">
                <div class="column is-12">
                    <!-- Start Carousel -->
                    <div id="product-carousel" class="carousel">
                        {% assign cont = 1 %}
                        {% for image in product.gallery.images %}
                        <div class="item-{{ cont }}">
                            <img alt="{{product.name}} screenshot {{ cont }}" src="{{ product.gallery.imagefolder }}{% if image.thumbnail %}{{ image.thumbnail }}{% else %}{{ image.name }}{% endif %}"
                                onclick="openModal('product-modal');currentSlide({{ cont }})">
                        </div>
                        {% assign cont = cont | plus:1 %}
                        {% endfor %}
                    </div>
                    <!-- End Carousel -->
                </div>
                <!-- Start lightbox modal -->
                <div id="product-modal" class="modal" onclick="ClickOpenedModal(event)">
                    <div class="modal-content is-vcentered">
                        {% assign cont = 1 %}
                        {% for image in product.gallery.images %}
                        <div class="item-slide product-modal-slide">
                            <img loading="lazy" alt="{{product.name}} lightbox image {{ cont }}" src="{{ product.gallery.imagefolder }}{{ image.name }}">
                        </div>
                        {% assign cont = cont | plus:1 %}
                        {% endfor %}
                    </div>
                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>
                    <button onclick="closeModal()" class="modal-close is-large" aria-label="close"></button>
                </div>
                <!-- End lightbox modal -->
            </div>
        </div>
    </section>

    {%- if presskit.testimonials -%}
        <section class="section product-presskit-testimonials">
            <div class="container--sm">
                <div class="column is-full">
                    <h2 class="section-title">{{ product.presskit.testimonials.title }}</h2>
                    {% include redesign/testimonials-mobile.html %}
                    {% include redesign/testimonials-desktop.html %}
                </div>
            </div>
        </section>
    {%- endif -%}
</div>

{% include redesign/subscribe-form.html class="pt-0" %}

{% contentfor extra-js no-convert %}
    <script>
        window.twttr = (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
            t = window.twttr || {};
            if (d.getElementById(id)) return t;
            js = d.createElement(s);
            js.id = id;
            js.async = true;
            js.src = "https://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);
            t._e = [];
            t.ready = function(f) {
            t._e.push(f);
            };
            return t;
        }(document, "script", "twitter-wjs"));
    </script>
    <script>
        twttr.ready(function (twttr) {
            let tweets = document.getElementsByClassName("tweet")
            for (let i = 0; i < tweets.length; i++){
                let tweet = tweets[i];
                let id = tweet.getAttribute("tweetID");
                // Create Tweet
                twttr.widgets.createTweet(id, tweet, {
                    conversation : 'none',
                    cards        : 'visible',
                }).then(function() {
                    const toggleBlock = document.querySelector('.toggle-wrapper');
                    toggleBlock.style.display = 'flex';
                });
            }
        });
    </script>
{% endcontentfor %}
