<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="{{ '/css/landing/landpage.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/css/landing/material-button.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/css/landing/twitter.css' | relative_url }}">

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- SLICK -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>
    <link href="/css/landing/slick.css" rel="stylesheet" />
    <link href="/css/landing/slick-theme.css" rel="stylesheet" />


</head>