<div class="columns is-mobile ">
    {% for store in product.external_stores %}
    <div class="column control">
        <button class="button store-button is-{% if product.type == 'game' %}secondary{% else %}primary{% endif %}"
                onclick="window.open('{{ store.link }}', '_blank');">
                <span class="icon">
                    <img class="has-text-secondary" src="/img/platforms/{{ store.image }}.png" style="margin: 0;">
                </span>
            </button>
    </div>
    {% endfor %}
  </div>

<style>
    .store-button .icon {
        min-block-size:10px;
    }
    .column{
        padding:0.75rem;
        flex-grow:0;
    }
</style>