<div class="store-buttons tile is-ancestor">
    <div class="tile is-parent">
        {% for store in product.stores %}
        <div class="tile is-child is-1">
            <button class="button store-button is-{% if product.type == 'game' %}secondary{% else %}primary{% endif %}"
                onclick="window.open('{{ store.link }}', '_blank');">
                <span class="icon">
                    <img class="has-text-secondary" src="/img/stores/{{ store.image }}.png" style="margin: 0;">
                </span>
            </button>
        </div>
        {% endfor %}
    </div>
</div>

<style>
    .store-buttons .tile {
        min-width: 100px;
    }
    
    .store-buttons button {
        width: 100%;
        height: auto;
    }

    .store-button .icon {
        height: auto;
        width: 100%;
    }
</style>