<div class="hero is-medium has-background-primary is-vcentered" style="background: url('/img/subscribe-hero.jpg') no-repeat center center; background-size: cover; background-position: 0%;">
    <form class="is-vertically-centered" style="position: relative;" action="{{site.data.subscribe.subscribe_action}}" method="post" name="mc-embedded-subscribe-form"
        target="_blank">
        <div class="has-text-centered">
            <h2 class="title has-text-white">{{site.data.subscribe.main_message}}</h2>
            <h3 class="subtitle has-text-white">{{site.data.subscribe.last_message}}</h3>
            <div class="field is-grouped has-addons has-addons-centered">
                <div class="control has-icons-left">
                    <input style="border-radius: 0;" class="input" type="email" placeholder="your-email@what.ever" value="">
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                    </span>
                </div>
                <div style="display: none;" aria-hidden="true">
                    <input class="input" type="text" name="b_fbef2685c895759c5406b0378_c51cb108de" tabindex="-1"
                        value="">
                </div>
                <div class="control">
                    <input style="border-radius: 0;" class="input has-background-secondary has-text-white" type="submit" name="subscribe"
                        value="{{ site.data.subscribe.button_subscribe_text}}">
                </div>
            </div>
        </div>
    </form>
</div>