<form id="subscribe-form" action="{{site.data.subscribe.subscribe_action}}" method="post" target="_blank">
    <input type="hidden" name="u" value="fbef2685c895759c5406b0378">
    <input type="hidden" name="id" value="c51cb108de">

    <div class="has-text-centered">
        <div class="field has-addons has-addons-centered">
            <div class="control has-icons-left contact-form__item">
                <p style="display: none;">Newsletter email</p>
                <input class="input contact-form__input" type="email" placeholder="your-email@what.ever" value=""
                    id="MERGE0" name="MERGE0" required>
                <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                </span>
            </div>
            <div class="control contact-form__item">
                <input class="input has-text-weight-semibold has-background-primary has-text-white" type="submit"
                    name="submit" value="{{ site.data.subscribe.button_subscribe_text}}" style="cursor: pointer;"
                    onclick="submitAndRedirectToThanks();">
            </div>
        </div>
        <div class="field" for="group_1">
            <div style="display: block;">Get news about</div>
            <label class="checkbox">
                <input type="checkbox" value="1" name="group[72300][1]" id="group_1" checked>
                Reventure
            </label>
            <label class="checkbox" for="group_2">
                <input type="checkbox" value="2" name="group[72300][2]" id="group_2" checked>
                Game Design tools
            </label>
        </div>
    </div>
</form>

<style>
    .suscribe-form {
        height: 50vh;
    }
</style>