<div class="suscribe-form is-medium is-vcentered is-full">
    <div class="is-vertically-centered" style="position: relative;">
        <div class="has-text-centered">
            <div class="has-background-white" style="padding: 1.5rem 0;margin-bottom: 1.5rem;">
                <h2 class="title has-text-primary has-text-weight-semibold is-1 is-size-5-mobile">
                    {{site.data.subscribe.main_message}}
                </h2>
                <h3 class="subtitle has-text-primary has-text-weight-semibold is-5 is-size-7-mobile">
                    {{site.data.subscribe.last_message}}</h3>
            </div>
        </div>
        {% include subscribe-banner-form.html %}
    </div>
</div>