<div class="hero is-fullheight">
    <div class="hero-body">
        <div class="container is-desktop is-vcentered">
            <div class="card box">
                <div class="card-image">
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="http://bulma.io/images/placeholders/96x96.png" alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">{{ include.title }} - <span
                                    class="subtitle is-6">{{ include.subtitle }}</span> </p>
                            <p class="subtitle is-6">@{{ include.twitter }}</p>
                        </div>
                    </div>

                    <div class="content">
                        <blockquote>{{ page.quote }}</blockquote>
                        {{ include.content }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>