---
---
// Custom initial variables
$azulatto: #009FC7;
$naranjitto: #E37826;
$darkslategray: #4A4A4A;

// Custom colors
$secondary: $naranjitto;
$secondary-invert: white;

// Override Bulma defaults
$primary: $azulatto;

$custom-colors: (
    "secondary":($secondary, $secondary-invert),
);

// Import Main CSS file from theme
@import "main";

.navbar-link:hover{
    color: $primary;
}

.navbar-link:not(.is-arrowless)::after{
    border-color: $darkslategray;
    border-width: 2px;
}

// a.navbar-item, .navbar-link {
//     text-transform: uppercase;
// }

a.navbar-item:hover{
    color: $primary;
}

a {
    color: $primary;
}

.pagination-link.is-current {
    background-color: $primary;
    border-color: $primary;
    cursor: initial;
}

 [disabled].pagination-previous {
    cursor: initial;
}

.pagination-previous:focus, .pagination-next:focus, .pagination-link:focus {
    border-color: $primary;
}


//=== UTILITIES STYLES ===// //add @mixin for section paddings

/* Container Styling */
.container--sm {
    @extend .container;
    max-width: 1150px;
    padding: 0 20px;
}
.container--lg {
    @extend .container;
    max-width: 1540px;
    padding: 0 20px;
}

/* Background Image */
.bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/* Chevrons */
.chevron {
    &:before {
        border-style: solid;
        border-width: 2px 2px 0 0;
        content: '';
        display: inline-block;
        height: 10px;
        position: relative;
        left: 0;
        bottom: 1px;
        width: 10px;
    }
    &.right:before {
        transform: rotate(45deg);
    }
    &.left:before {
        transform: rotate(-135deg);
    }
}

/* General Carousel Controls */ // Ask about this buttons
// #blog-carousel {
//     .slider-navigation-next,
//     .slider-navigation-previous {
//         background-color: #E3F8FA;
//         box-shadow: none;
//         width: 62px;
//         height: 62px;
//     }
// }

//=== SHARED STYLES ===//

/* General Hero section */
.hero-section {
    background-color: $azulatto;
    min-height: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    .hero-mask {
        background-color: rgba(74, 74, 74, 0.7);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .hero-inner {
        z-index: 1;
        @media screen and (max-width: 768px) {
            padding: 0 20px;
        }
    }
    .hero-title {
        color: #fff;
        font-size: 3em;
        line-height: 1.229em;
        padding-bottom: 40px;
    }
}

/* General Section Title */
.section-title {
    color: $darkslategray;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.222em;
    margin-bottom: 40px;
    text-transform: capitalize;
    @media screen and (max-width: 768px) {
        font-size: 28px;
    }
}

/* General Section Header */
.section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    .section-title {
        margin: 0;
    }
    .show-link {
        color: #E37827;
        font-size: 1.125em;
        line-height: 1.222em;
        letter-spacing: 0.1em;
        transition: all .3s linear;
        &:hover {
            color: darken(#E37827, 10%);
        }
        span.right {
            margin-left: 10px;
        }
        span.left {
            margin-right: 10px;
        }
    }
}

/* General Tag Styling */
.post-tag {
    color: #fff;
    background: #57C0DA;
    border-radius: 3px;
    line-height: 1.250em;
    width: fit-content;
    &.tag--sm {
        font-size: 0.75em;
        padding: 3px 15px;
    }
    &.tag--lg {
        font-size: 0.875em;
        padding: 6px 30px;
    }
}

/* General Post Preview */
.post-preview {
    &.card {
        box-shadow: none;
        height: 100%;
        .tag-wrapper {
            position: absolute;
            left: 40px;
            top: 40px;
            display: flex;
            .post-tag {
                &:not(:last-child) {
                    margin-right: 5px;
                }
            }
        }
        .card-image {
            height: 200px; //check on mobile
            padding: 20px 20px 0;
            overflow: hidden;
            img {
                border-radius: 10px;
                @media screen and (max-width: 768px) {
                    width: 100%;
                }
            }
        }
        .card-content {
            padding: 20px 20px 4em;
        }
        .card-footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            border: none;
            display: block;
            .card-footer-item {
                color: #666666;
                font-size: 14px;
                font-style: italic;
                line-height: 1.214em;
                padding: 20px;
                justify-content: flex-start;
            }
        }
    }
    .post-link {
        display: block;
        transition: all .3s linear;
        &:hover {
            border-radius: 10px;
            box-shadow: 0px 0px 20px rgba(74, 74, 74, 0.25);
            // .post-preview {
            //     box-shadow: 0px 0px 20px rgba(74, 74, 74, 0.25) !important;
            //     background: red;
            // }
        }
    }
}

/* General Box Item */
.pixel-box {
    background-color: $white;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(74, 74, 74, 0.25);
}

/* General Product Card */
.product-card {
    .card-image {
        width: 475px;
        min-height: 396px;
        height: 100%;
        img {
            border-radius: 10px 0 0 10px;
        }
        @media screen and (max-width: 1024px) {
            width: 375px;
        }
        @media screen and (max-width: 768px) {
            min-height: 300px;
            width: 100%;
            img {
                border-radius: 10px 10px 0 0;
            }
        }
    }
    .card-inner {
        padding: 40px 30px 20px;
        @media screen and (max-width: 768px) {
            padding: 20px;
        }
        .product-sale {
            position: absolute;
            top: 0;
            right: 0;
        }
        .product-logo {
            display: block;
            max-width: 250px;
            width: 100%;
            @media screen and (max-width: 768px) {
                max-width: 200px;
            }
        }
        h1, h3 {
            font-size: 1.125em;
            line-height: 1.222em;
            letter-spacing: 0.1em;
            padding: 30px 0 20px;
            @media screen and (max-width: 768px) {
                font-size: 1em;
                padding: 20px 0;
            }
        }
        p {
            font-size: 1.125em;
            line-height: 1.556em;
            @media screen and (max-width: 768px) {
                font-size: 1em;
            }
        }
        .button-special {
            border-radius: 10px 0px;
            box-shadow: none;
            max-width: 220px;
            position: absolute;
            bottom: 0;
            right: 0;
            @media screen and (max-width: 768px) {
                max-width: 180px;
            }
        }
        .more-link {
            font-size: 18px;
            line-height: 1.556em;
            padding-left: 30px;
            text-decoration: underline;
        }
    }
}

/* General Subscribe Section */
.subscribe-section {
    padding: 100px 0;
    @media screen and (max-width: 768px) {
        padding: 50px 0;
    }
    .subscribe-inner {
        padding: 28px;
        align-items: center;
    }
    .subscribe-text {
        @media screen and (max-width: 1024px) {
            margin-bottom: 25px;
            text-align: center;
        }
        h2 {
            font-size: 1.875em;
            @media screen and (max-width: 576px) {
                font-size: 1.5em;
                margin-bottom: 10px;
            }
        }
        p {
            font-size: 1.125em;
            max-width: 390px;
            @media screen and (max-width: 1024px) {
                margin: 0 auto;
            }
            @media screen and (max-width: 576px) {
                font-size: 1em;
            }
        }
    }
    .subscribe-form {
        .is-flex {
            justify-content: flex-end;
            @media screen and (max-width: 1024px) {
                justify-content: center;
            }
            @media screen and (max-width: 576px) {
                flex-direction: column;
                align-items: center;
            }
        }
        input[type=email] {
            border: 1px solid #DCDCDC;
            height: 3.063em;
            &:focus {
                box-shadow: none;
            }
        }
        .input-wrapper {
            margin-right: 10px;
            max-width: 320px;
            width: 100%;
            @media screen and (max-width: 576px) {
                margin: 0 0 25px;
            }
        }
        .button-round {
            font-size: 0.875em;
            height: 3.5em;
            max-width: 140px;
        }
    }
}

/* General Footer Section */
.footer-upd {
    background-color: $azulatto;
    color: #fff;
    padding: 50px 0;
    // socials
    .footer-logo {
        max-width: 246px;
        width: 100%;
    }
    .copyrights {
        margin: 41px 0 49px;
        p {
            color: #D9DBE1;
            font-size: 14px;
            &:first-child {
                margin-bottom: 15px;
            }
        }
    }
    .social-list {
        display: inline-flex;
        line-height: 0;

        li {
            &:not(:last-child) {
                margin-right: 10px;
            }
            a {
                width: 32px;
                height: 32px;
                border-radius: 50%;
                background-color: rgba(255, 255, 255, 0.1);
                display: inline-flex;
                align-items: center;
                justify-content: center;
                transition: all .3s linear;
                &:hover {
                    background-color: rgba(255, 255, 255, 0.3);
                }
                img {
                    max-width: 17px;
                    width: 100%;
                }
            }
        }
    }
    // lists
    .footer-list {
        padding-top: 14px;
        font-size: 18px;
        h4 {
            //font-size: 18px;
            margin-bottom: 24px;
        }
        li {
            &:not(:last-child) {
                margin-bottom: 20px;
            }
            a {
                color: #fff;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    // footer form
    // .footer-form {
    //     input[type=email] {
    //         border: none;
    //         border-radius: 40px;
    //         box-shadow: none;
    //         &::placeholder {
    //             color: #DCDCDC;
    //             font-size: 14px;
    //         }
    //         &:focus {
    //             outline: none;
    //         }
    //     }
    // }
}

/* Orange Round Button */
.button-round {
    border-radius: 60px;
    box-shadow: 0px 4px 20px rgba(227, 120, 39, 0.5);
    font-size: 1.125em;
    font-weight: 700;
    height: 3.3em;
    letter-spacing: 0.1em;
    max-width: 250px;
    width: 100%;
    text-transform: uppercase;
    @media screen and (max-width: 768px) {
        font-size: 0.875em;
        max-width: 210px;
    }
}

/* Blue Tag Button */
.tag-btn {
    font-size: 0.875em;
    line-height: 1;
    max-width: 107px;
    width: 100%;
    max-height: 30px;
    &.is-primary {
        background-color: #57C0DA;
        transition: .3s all linear;
        &:hover {
            background-color: darken(#57C0DA, 10%);
        }
    }
}

/* Email Input Styling */
input[type=email] {
    border: none;
    border-radius: 40px;
    box-shadow: none;
    &::placeholder {
        color: #DCDCDC;
        font-size: 14px;
    }
    &:focus {
        outline: none;
    }
}

//=== HOME PAGE ===//
// home hero section
.home-hero {
    min-height: 650px;
    .hero-logo {
        max-width: 623px;
        width: 100%;
        @media screen and (max-width: 768px) {
            max-width: 450px;
        }
        @media screen and (max-width: 576px) {
            max-width: 300px;
        }
    }
    .hero-title {
        font-size: 36px;
        line-height: 1.222em;
        padding: 35px 0 41px;
        @media screen and (max-width: 768px) {
            font-size: 28px;
        }
        @media screen and (max-width: 576px) {
            font-size: 24px;
        }
    }
    .scroll-down {
        position: absolute;
        bottom: 43px;
        left: 50%;
        transform: translateX(-50%);
        max-width: 40px;
        width: 100%;
    }
}

// home tools section
.home-tools {
    padding: 100px 0;
    @media screen and (max-width: 768px) {
        padding: 50px 0;
    }
    .product-card {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
        .card-image {
            @media screen and (max-width: 768px) {
                min-height: 100%;
                .bg-img {
                    position: relative;
                    padding-bottom: 56.25%;
                }
                img {
                    position: absolute;
                }
            }
        }
        .card-inner {
            p {
                &:last-of-type {
                    padding-bottom: 50px;
                }
            }
        }
    }
}

// about section
.home-about {
    .about-img {
        position: relative;
        min-height: 688px;
        .bg-img {
            z-index: -1;
            img {
                object-position: right;
            }
        }
        @media screen and (max-width: 768px) {
            min-height: 100%;
            .bg-img {
                position: relative;
                padding-bottom: 56.25%;
            }
            img {
                position: absolute;
            }
        }
        .img-description {
            color: #fff;
            background-color: #57C0DA;
            padding: 34px 39px;
            max-width: 339px;
            width: 100%;
            position: absolute;
            bottom: 0;
            right: 0;
            h4 {
                font-size: 1.875em;
                font-weight: 700;
                line-height: 1.233em;
                margin-bottom: 7px;
            }
            p {
                font-size: 1.5em;
                line-height: 1.208em;
            }
            @media screen and (max-width: 768px) {
                max-width: 200px;
                padding: 10px;
                h4 {
                    font-size: 1.5em;
                }
                p {
                    font-size: 1em;
                }
            }
        }
    }
    .about-text {
        background-color: #E2F1F4;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 30px;
        height: 100%;
        @media screen and (max-width: 1024px) {
            padding: 30px 20px;
        }
        .text-content {
            max-width: 708px;
            width: 100%;
        }
        .section-title {
            margin-bottom: 30px;
        }
        p {
            font-size: 1.125em;
            line-height: 1.556em;
            margin-bottom: 20px;
            @media screen and (max-width: 768px) {
                font-size: 1em;
            }
        }
    }
}

// Recent Posts section
.home-recent-posts {
    padding-top: 100px;
    @media screen and (max-width: 768px) {
        padding: 50px 0;
    }
    .post-preview {
        .post-link {
            @media screen and (max-width: 768px) {
                border-radius: 10px;
                box-shadow: 0px 0px 20px rgba(74, 74, 74, 0.25);
            }
        }
    }
}

//=== STORE PAGE ===//
.store-section {
    .product-card {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
}

//=== PRODUCT PAGE ===//
.product-preview {
    .product-title {
        color: $darkslategray;
        border-bottom: 1px solid #DCDCDC;
        font-size: 14px;
        line-height: 1.214em;
        letter-spacing: 0.1em;
    }

    .product-card {
        background-color: #fff;
        padding: 20px;
        //position: relative;
        //top: -250px;
        .card-inner {
            padding: 0;
            @media screen and (max-width: 1024px) {
                margin-top: 25px;
            }
        }
        .product-info {
            .info-price {
                align-items: center;
                justify-content: space-between;
            }
            .price {
                color: $naranjitto;
                font-size: 18px;
                letter-spacing: 0.1em;
                //padding-right: 15px;
                // @media screen and (max-width: 768px) {
                //     padding-right: 0;
                // }
            }
            .info-platforms {
                margin-top: 25px;
                @media screen and (min-width: 1024px) {
                    margin-top: 0;
                }
                h3 {
                    font-size: 14px;
                    line-height: 1.214em;
                    letter-spacing: 0.1em;
                }
            }
        }
    }
}
#product-carousel {
    div[class^="item-"] {
        height: 100%;
        padding: 0 5px;
        img {
            max-height: 202px;
            height: 100%;
        }
    }
    //ask about card-creator page
}
.awards {
    .award-item {
        height: 100%;
        padding: 15px;
        .award-header {
            align-items: center;
            // img {
            //     max-width: 70px;
            //     width: 100%;
            // }
        }
        .award-text {
            font-size: 14px;
            line-height: 1.214em;
        }
    }
}

//=== BLOG PAGE ===//
.blog-carousel-list {
    .product-card {
        .card-inner {
            padding: 50px 20px 0;
            h3 {
                font-size: 30px;
                letter-spacing: 0;
                padding: 30px 0;
            }
            p {
                line-height: 1.208em;
            }
            .post-author {
                position: absolute;
                bottom: 20px;
            }
        }
    }
}

.blog-list {
    .blog-tags {
        .tag-btn {
            &:not(.active) {
                opacity: 0.5;
            }
        }
    }

    .pagination-previous,
    .pagination-next {
        border: none;
        font-size: 18px;
        line-height: 1;
        padding: 0;
        &:active {
            box-shadow: none;
        }
        &[disabled] {
            background-color: transparent;
        }
        &:before {
            border-style: solid;
            border-width: 2px 2px 0 0;
            content: '';
            display: inline-block;
            height: 10px;
            position: absolute;
            width: 10px;
        }
    }
    .pagination-previous {
        padding-left: 20px;
        &:before {
            left: 0;
            transform: rotate(-135deg);
        }
    }
    .pagination-next {
        padding-right: 20px;
        &:before {
            right: 0;
            transform: rotate(45deg);
        }
    }

    .pagination-link {
        border: none;
        min-width: 2em;
        height: 2em;
        padding-bottom: calc(.375em - 1px);
        transition: all .2s linear;
        &:hover {
            box-shadow: 0px 0px 20px rgba(74, 74, 74, 0.25);
        }
        &.is-current {
            color: $azulatto;
            border-radius: 5px;
            background-color: #fff;
            box-shadow: 0px 0px 20px rgba(74, 74, 74, 0.25);
        }
    }
}

//=== POST PAGE ===//
.post {
    .hero {
        width: 100%;
    }
    > ul {
        margin-left: 3em;
        > li {
            list-style: none;
            position: relative;
            &:before {
                content: '';
                width: 12px;
                height: 12px;
                background: $azulatto;
                //display: inline-block;
                border-radius: 50%;
                //position: relative;
                //right: 20px;
                position: absolute;
                left: -30px;
                top: 6px;
            }
        }
    }
    li ul li {
        list-style-type: disc;
    }
}

.post-aside {
    .title {
        margin: 15px 0;
    }
    .text {
        font-size: 14px;
        line-height: 1.214em;
    }
    .tag-wrapper {
        position: absolute;
        left: 20px;
        top: 20px;
        display: flex;
        .post-tag {
            &:not(:last-child) {
                margin-right: 5px;
            }
        }
    }
}
