---
layout: redesign
---

<section class="hero-section" style="min-height: 300px;">
    <div class="bg-img">
        <img src="/img/home/hero-background.svg" alt="Pixelatto background image" />
    </div>
    <div class="hero-inner">
        <h1 class="hero-title">What's going on at Pixelatto</h1>
    </div>
</section>

<section class="blog-list">
    <div class="container--sm">
        <h2 class="section-title">Recent posts</h2>
        <div class="mb-3 pb-3" style="border-bottom: 1px solid #DCDCDC;">
            <button onclick="window.location='/blog'" class="button is-primary mr-4">All</button>
            {% for tag in site.tags %}
            <button onclick="window.location='{{ tag.url }}'" class="button is-primary mr-4">{{ tag.tag }}</button>
            {% endfor %}

            {% comment %}
            <!-- active states -->
            {% assign tagCheck = page.tag | downcase %}
            {% if page.url contains tagCheck %}
                <p>active</p>
            {% endif %}
            {% endcomment %}
        </div>

        <div class="columns is-multiline is-centered">
            {% if page.tag %}
            {% assign posts = site.posts | where_exp:"item","item.tags contains page.tag" %}
            {% else %}
            {% assign posts = paginator.posts %}
            {% endif %}

            {% for post in posts %}
            <div class="column is-4">
                {% include post-card.html %}
            </div>
            {% endfor %}

            {% unless page.tag %}
            <div class="column is-5-desktop is-12-tablet mt-4">
                {% include pagination.html %}
            </div>
            {% endunless %}
        </div>
    </div>
</section>

{% include redesign/subscribe-form.html %}
