---
layout: default
---

<div class="content">
  <div class="post">
    <img class="hero" src="/img/upload/{{ page.image }}">
    <h1 class="title is-1">{{ page.title }}</h1>
    <p>{{ page.summary }}</p>
    <p>Published: {{ page.date | date: "%b %-d, %Y" }} by {{ page.author }}</p>
    <hr>
    {{ content }}
  </div>

  <div style="margin: 1rem 0;">
    <p><strong>Tags</strong></p>
    {% for tagName in page.tags %}
      {% assign tag = site.tags | where_exp:"item","item.tag == tagName" | first %}
      <button onclick="window.location='{{ tag.url }}'" class="tag-button button is-primary">#{{ tag.tag }}</button>
    {% endfor %}
  </div>

  {% unless site.hide_share_buttons %}
  <div class="share-buttons">
    {% include share-buttons.html %}
  </div>
  {% endunless %}

  <!-- {% if site.disqus.shortname %}
  {% include disqus.html %}
{% endif %} -->
</div>

<style>
  .title:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  .content {
    max-width: 800px;
    margin: auto;
  }

  .hero {
    width: 100%;
  }
</style>