---
layout: empty
hide_hero: true
---

<div class="container">
    <div class=" pt-3">

        <img src="/img/product/{{page.code}}-logo.svg" style="display: block; margin: auto; height: 30vw; max-height: 200px;" />

        <div class="columns is-multiline is-vcentered" style="border-radius: 40px 0px 40px 0px; padding: 3vw; margin: 20px;">
            <div class="column is-6">
                <figure class="image is-16by9" style="border-radius: 30px 0px 30px 0px; overflow: hidden;">
                    {% if page.video %}
                    <iframe class="has-ratio" width="640" height="360"
                        src="https://www.youtube.com/embed/{{ page.video }}?rel=0" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                    </iframe>
                    {% else %}
                    <img src="/img/product/{{ page.code }}-640-360.jpg" />
                    {% endif %}
                </figure>
            </div>

            <div class="column is-6 has-text-right">
                <p class="title is-3 py-4" style="display: none;">{{ page.title }}</p>
                <p class="subtitle is-3 pl-2 py-4">{{ page.subtitle }}</p>
                <p class="title is-4 has-text-right">{{ page.price }}</p>
                {% if page.product_code %}
                <p class="subtitle is-5 has-text-right">{{ page.product_code }}</p>
                {% endif %}

                {% if page.features %}
                <div class="content pl-5">
                    {% for feature in page.features %}
                    <p>
                        <span>{{ feature.label }}</span>
                        
                        <span class="icon">
                            {% if feature.icon %}
                            <i class="fas {{ feature.icon }}"></i>
                            {% else %}
                            <i class="fas fa-circle fa-xs"></i>
                            {% endif %}
                        </span>
                    </p>
                    {% endfor %}
                </div>
                {% endif %}
                <a href="#" class="button is-white is-medium"></a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="section">
        <div class="columns is-multiline is-vcentered">
            <div class="column is-12">
                <p class="title is-4">Description</p>
                <div class="content">
                    {{ content }}
                </div>
            </div>

            <div class="column is-12">
                <!-- Start Carousel -->
                <div id="carousel-demo" class="carousel">
                    {% assign cont = 1 %}
                    {% for image in page.gallery.images %}
                        <div class="item-{{ cont }}">
                            <img src="{{ page.gallery.imagefolder }}{{ image.name }}" onclick="openModal();currentSlide({{ cont }})">
                        </div>
                        {% assign cont = cont | plus:1 %}
                    {% endfor %}
                </div>
                <!-- End Carousel -->
            </div>

            <!-- Start lightbox modal -->
                <div class="modal" id="myModal" onclick="ClickOpenedModal(event)">
                    <div class="modal-content is-vcentered">
                        {% for image in page.gallery.images %}
                            <div class="item-slide">
                                <img src="{{ page.gallery.imagefolder }}{{ image.name }}">
                            </div>
                        {% endfor %}
                    </div>
                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>
                <button onclick="closeModal()" class="modal-close is-large" aria-label="close"></button>
                </div>
            <!-- End lightbox modal -->

            {% if site.data.reviews[page.code] %}
            <div class="column is-12">
                <p class="title is-4">Reviews</p>
                {% for review in site.data.reviews[page.code] %}
                {% include review.html %}
                {% endfor %}
            </div>
            {% endif %}

        </div>
    </div>
</div>